.container {
    margin-top: 40px;
    margin-bottom: 3rem;
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .container {
      margin-top: 60px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      margin-top: 80px;
    }
  }
   

  .contentContainer {
    width: 100%;
}

  .heading {
    color: white;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    height: auto;
    margin-bottom: 2rem;
  }

  .subHeading {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .text {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-style: normal;
  }

  @media (min-width: 640px) {
    .heading {
      font-size: 42px;
    }
    .text {
      font-size: 20px;
    }
  }
  
  @media (min-width: 768px) {
    .heading {
      font-size: 42px;
    }
    .text {
      font-size: 22px;
    }
  }
  
  @media (min-width: 1024px) {
    .heading {
      font-size: 48px;
    }
    .subHeading {
      font-size: 42px
    }
    .text {
      font-size: 24px;
    }
  }

  .headshot {
    aspect-ratio: 3060/3621;
    border-radius: 40px;

  }

  .imageContainer {
    width: 100%;
    height: auto;
    margin-top: 40px;
    position: relative;
  }
  
@media (min-width: 640px) {
    .imageContainer{
    width: 80%;
    }
  }

  @media (min-width: 768px) {
    .imageContainer{
    width: 70%;
    }
  }

  @media (min-width: 1024px) {
    .imageContainer {
    margin-top: 0;
    width: auto;
    max-width: 500px;
  }
}

.twoColumnContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .twoColumnContainer {
    grid-template-columns: 1fr 1fr;
  }
}

.column {
  position: relative;
}

.whiteFlower {
  position: absolute;
  width: 158px;
  height: auto;
  top: -10px;
  left: -80px;
  z-index: 2;
  display: none;
}

@media (min-width: 1024px) {
  .whiteFlower {
    display: block;
  }
}

.blueFlower {
  position: absolute;
  width: 325px;
  height: auto;
  bottom: -40px;
  right: -90px;
  z-index: 2;
  display: none;
}

@media (min-width: 1024px) {
  .blueFlower {
    display: block;
  }
}

.calendarSection {
  margin-top: 2rem;
  margin-bottom: 4rem;
}


